@import '/src/components/GlobalStyles/_variable';

.wrapper {
    font-size: 1.6rem;
    font-weight: 600;

    min-height: 36px;
    min-width: 100px;
    padding: 5px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    + .wrapper {
        margin-left: 16px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.6;
    }
    &:hover {
        cursor: pointer;
    }
}
.icon {
    margin-left: 12px;
}
.icon + .title,
.title + .icon {
    margin-left: 12px;
}

//button types
.none {
    background-color: $white-color;
    color: #000;
    border: none;
}
.round {
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.2);
    background-color: $white-color;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-width: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.text {
    outline: none;
    background-color: $white-color;
    border: 1px solid rgba(22, 24, 35, 0.12);
    font-weight: 600;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.primary {
    color: $white-color !important;
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.outline {
    color: $primary-color !important;
    border: 1px solid currentColor;
    background-color: $white-color;
    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

//button size
.small {
    min-width: 88px;
    min-height: 28px;
    padding: 1px 16px;
}

.large {
    min-height: 48px;
    min-width: 168px;
}
