@import '/src/components/GlobalStyles/variable';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: $default-layout-width;
    max-width: 100%;
    display: flex;
    margin-top: $default-layout-header-height;
}
.content {
    flex: 1;
    height: 3000px;
    padding-right: 24px;
}
