@import '/src/components/GlobalStyles/variable';

//Menu wrapper
.content {
    width: 224px;
    .popper-menu {
        padding: 8px 0;
        display: flex;
        flex-direction: column;
    }
}

//Header
.header {
    height: 50px;
    position: relative;
    margin-top: -8px;
    flex-shrink: 0;
    & ~ .menu-list .menu-item {
        padding-left: 24px;
    }
    .back-btn {
        width: 48px;
        height: 48px;
        text-align: end;
        font-size: 1.8rem;
        & svg {
            margin-right: 8px;
        }
        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
            cursor: pointer;
        }
    }
    .header-title {
        flex: 1;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 600;
        color: $text-color;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

//Menu item
.menu-list {
    overflow-y: auto;
    .menu-item {
        height: 42px;
        margin-left: 0px;
        width: 100%;
        justify-content: flex-start;
        border-radius: 0;
        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
            cursor: pointer;
        }

        + .menu-item {
            margin-left: 0;
        }

        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
    }
}
