@import '/src/components/GlobalStyles/variable';

.wrapper {
    width: 100%;
    height: $default-layout-header-height;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    position: fixed;
    top: 0;
    background-color: $white-color;
    z-index: 100;
}

.inner {
    width: $default-layout-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 20px;
}
.logo {
    display: flex;
    align-items: center;
}

.utility {
    display: flex;
    align-items: center;

    & .upload-btn {
        padding: 5px 11px;
    }
}
.more-btn {
    min-width: 20px !important;
    margin-left: 20px;
    padding: 6px;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
    & svg {
        font-size: 20px;
    }
}

.util-btn {
    color: $text-color;
    margin-left: 16px;
    &:hover {
        cursor: pointer;
    }

    &.util-btn--ml {
        margin-left: 19px;
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 24px;

    &:hover {
        cursor: pointer;
    }
}
