.info {
    padding-left: 8px;
}
.info-link {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 6px;
    margin-top: 5px;

    color: rgba(22, 24, 35, 0.5) !important;
}
