@import '/src/components/GlobalStyles/variable';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: $default-layout-width;
    display: flex;
}
.content {
    flex: 1;
}
